<body>
 
  <h1>Editing Book</h1>

  <%= form_with model:@book, local: true, class: "edit_book", id: "edit_book" do |f| %>
   <div class="field">
    
   <% if @book.errors.any? %>
    <div id="error_explanation">
     <h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
     <ul>
      <% @book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>
     </ul>
    </div>
   <% end %>
   
    <lavel for="book_title">Title</lavel><br>
    <%= f.text_field :title %>
   </div>
   <div class="field">
    <lavel for="book_body">Body</lavel><br>
    <%= f.text_area :body %>
   </div>
   <div class="actions">
    <%= f.submit 'Update Book' %>
   </div>
  <% end %>

  <%= link_to "Show", book_path %>
  |
  <%= link_to "Back", books_path, class: "back" %>
</body>